<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
  <%= devise_error_messages! %>

  <div class="field"><br />
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="field"><br />
    <%= f.label :user_types %>
    <%= f.select :user_types, User.user_types.map { |key, value| [key.humanize, key] } %> 
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-success'%>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>
