<h1 style="float: left;">Welcome to Bugzilla</h1>
<p style="float: right;" class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
<div style="clear: both;"></div>

<% @users.each do |user| %>
	<%= user.name %> &nbsp;
	<%= user.email %> &nbsp;
	<%= user.user_types %> <br />
<% end %>