
<% if @project != nil %>
	<% if @project.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-danger">
				The form contains <% pluralize(@project.errors.count, "error") %>.
				<ul>
					<% @project.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		</div>
	<% end %>
<% end %>

<% if @bug != nil %>
	<% if @bug.errors.any? %>
		<div id="error_explanation">
			<div class="alert alert-danger">
				The form contains <% pluralize(@bug.errors.count, "error") %>.
				<ul>
					<% @bug.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		</div>
	<% end %>
<% end %>