<nav class="navbar  navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "Bugzilla.png", class: 'img-responsive' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapsable">
      <ul class="nav navbar-nav foo" id="menu">
        <li><a class="navbar-default-a" href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-default-a navbar-right" align="right">
        <% if user_signed_in? %>
          <%#= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: 'btn' %>
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
