<%= render partial: "navbar", class: 'col-md-offset-0' %>
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Welcome BugZilla</h1>
              <span class="subheading">A Bug Tracking System</span>
              <hr>
              <h2>User Info</h2>
              <div><strong>Name:- </strong><%= current_user.name %></div>
              <div><strong>Email:- </strong><%= current_user.email %></div>
              <div><strong>Role:- </strong><%= current_user.user_types %></div>
              <br><br>

              <% if user_signed_in? %>
                <%= link_to "Create Project", new_project_path, class: 'btn btn-primary' if policy(Project).new? %>
                <%= link_to "Show Projects", projects_path, class: 'btn btn-primary' if policy(:project).index?%>
              <% else %>
                <h4>Start just right away by Signing Up Now!</h4>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
