<% provide(:title, 'Edit Project') %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @project, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
			<%= render 'shared/error_messages' %>
			<div class="field"> <br />
				<%= f.label :name %>
				<%= f.text_field :name, autofocus: true %>
			<div>
				<br>	
			<%= f.label :Developers %><br>
    	  	<%= select_tag "project_user_attributes[user_id]", options_from_collection_for_select(User.developers_not_assigned_to_project(Project.all), "id", "name"), multiple: true, :style => "width: 500px; height: 100px;" %>
    	  <br /><br />
    	  		<%= f.label :Qas %><br>
    	      	  	<%= select_tag "project_user_attributes[user_id]", options_from_collection_for_select(User.qas_not_assigned_to_project(Project.all), "id", "name"), multiple: true, :style => "width: 500px; height: 100px;" %>
    	  <br /><br />
			<%= f.submit "Update", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>