<%#= link_to "Create Project", controller:"projects", action: "new" if policy(Project).new? %>
<%#= link_to "Create Project", new_project_path, class: 'btn btn-primary' if policy(Project).new? %>
<br>
<% if current_user.user_types == "manager" %>
	<% if Project.project_manager(@projects, current_user.id).empty? %>
		<p> There are no projects under this manager </p>
	<% else %>
		<h1 class = "text-center">Projects under your supervision</h1>
		
		<table class = "table responsive">
				<thead class= "table-info">
					<tr>
						<th class = "text-center"><strong>Name</strong></th>
						<th class = "text-center">View</th>
					</tr>
				</thead>
				<tbody>
				<% Project.project_manager(@projects, current_user.id).each do |project| %>
					<tr>
						<td class = "text-center"><strong><%= project.name %></strong></td>
						<td class = "text-center"><%= link_to "Show", project, class: 'btn btn-primary'%></td>
					</tr>
					<% end %>
				</tbody>
		</table>



	<% end %>


<% else %>
	<% if Project.project_name(current_user.id).empty? %>
		<p>You are not selected for any project</p>
	<% else %>
	<h1 class = "text-center">Projects</h1>
	<table class = "table responsive">
				<thead class= "table-info">
					<tr>
						<th class = "text-center"><strong>Name</strong></th>
						<th class = "text-center">View</th>
					</tr>
				</thead>
				<tbody>
		<% Project.project_name(current_user.id).each do |project|%>
			<tr>
				<td class = "text-center"><strong><%= project.name %></strong></td>
				<td class = "text-center"><%= link_to "Show", project, class: 'btn btn-primary'%></td>
			</tr>
		<% end %>
			<% end %>
		</tbody>
	</table>	
<% end %>

<br> <br>
<div class = "text-center">
<%= link_to "Back", root_path, class: 'btn btn-lg btn-primary'%></div>


