<% provide(:title, 'Create Project') %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @project, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
			<%= render 'shared/error_messages' %>
			<div class="field"> <br />
				<%= f.label :name %>
				<%= f.text_field :name, autofocus: true %>
			</div>
			<br>
			<%= f.submit "Create Project", class: "btn btn-primary"%>
		<% end %>
	</div>
</div>