

<%= link_to "Create Bug", new_project_bug_path(@project), class: "btn btn-warning"%>
<%= link_to "Add Users", edit_project_path(@project), class: "btn btn-info" if policy(@project).is_user_manager?%>
<%= link_to "Destroy", project_path(@project), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" if policy(@project).destroy?%>
<%= link_to "Back", projects_path, class: "btn btn-primary"%>


<h1 class = "text-center">Project Info</h1>
<table class = "table responsive">
	<thead class= "table-info">
		<tr>
			<th>Project Name</th>
			<th>Manager</th>
			<th>Developers</th>
			<th>Qas</th>
			<th>Bugs</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @project.name %></td>
			<td><% User.select(:name).where(id: @project.manager_id).each do |manager| %>
				<%= manager.name %>
				<% end %>
			</td>

			<td>
				<% if User.developers_assigned_to_current_project(@project.id).empty? %>
				<p>No developers assigned</p>
				<% else %>
				<% User.developers_assigned_to_current_project(@project.id).each do |developer| %>
				<li> <%= developer.name %> </li>
				<% end %>
			<% end %>
			</td>


			<td>
				<% if User.qas_assigned_to_current_project(@project.id).empty? %>
				<p>No QA assigned</p>
				<% else %>
				<% User.qas_assigned_to_current_project(@project.id).each do |developer| %>
				<li> <%= developer.name %> </li>
				<% end %>
			<% end %>
			</td>

			<td>
				<%= link_to "Show", project_bugs_path(@project), class: 'btn btn-xs btn-primary' %>
			</td>
		</tr>
	</tbody>
</table>








