<%= javascript_include_tag "bugs", "data-turbolinks-track" => true  %>
<% provide(:title, 'Create Bug') %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @bug, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
			<%= render 'shared/error_messages' %>
			
			<div class="field">
				<%= f.label :title %>
				<%= f.text_field :title, autofocus: true %>
			</div>

			<div class="field"> 
				<%= f.label :description %><br>
				<%= f.text_area :description, cols: "20", rows: "5" %>
			</div>

			<div class="field"> 
				<%= f.label :deadline %>
				<%= f.datetime_select :deadline %>
			</div>

						

		
            <div class="field"> <br />
                <%= f.radio_button :category, 'true', onClick: "evaluateType(this)" %>
                <%= label :category, 'Bug' %>
                <%= f.radio_button :category, 'false', onClick: "evaluateType(this)" %>
                <%= label :category, 'Feature' %>
            </div>
            <div class="field" id="bugs_status"><br />
                <%= f.label "Status" %>
                <%= f.select :bug_status, Bug.bug_statuses.map { |key, value| [key.humanize.split(' ').second.capitalize, value] }%> 
            </div>  
            <div class="field" id="feature_status"><br />
                <%= f.label "Status" %>
                <%= f.select :feature_status, Bug.feature_statuses.map { |key, value| [key.humanize.split(' ').first.capitalize, value] } %>
            </div>

		  	<br>
		  	<div class="field">
		  		<%= f.label :screenshot %><br>
    			<%= f.file_field :screenshot, onchange: "validateFiles()" %>
		  	</div>
		  	<br>
		  	<br>

			<%= f.submit "Update", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>




<% content_for :javascript_includes do %>
  <%= javascript_include_tag "bugs.js" %>
<% end %>