<h1 class = "text-center">All Bugs of this Project</h1>
<table class = "table responsive">
	<thead class= "table-info">
		<tr>
			<th class="text-center">Title</th>
			<th class="text-center">Type</th>
			<th class="text-center">Status</th>
			<th class="text-center">Screenshot</th>
			<th class="text-center">Details</th>
		</tr>
	</thead>



	<% @bugs.each do |bug| %>
		<tr>
			<td class="text-center"><%= bug.title %></td>
			<% if bug.category == "true" %>
				<td class="text-center"><%= "Bug" %></td>
				<% if bug.bug_status == 0 %>
					<td class="text-center"><%= "new" %></td>				
				<% elsif bug.bug_status == 1 %>
					<td class="text-center"><%= "started" %></td>
				<% elsif bug.bug_status == 2 %>
					<td class="text-center"><%= "resolved" %></td>
				<% end -%>
			<% elsif bug.category == "false" %>
				<td class="text-center"><%= "Feature" %></td>
				<% if bug.feature_status == 0 %>
					<td class="text-center"><%= "new" %></td>				
				<% elsif bug.feature_status == 1 %>
					<td class="text-center"><%= "started" %></td>
				<% elsif bug.feature_status == 2 %>
					<td class="text-center"><%= "completed" %></td>				
				<% end -%>
			<% end %>			
			<td><%= image_tag(bug.screenshot.url, alt: 'Image', :class => "screenshot") if bug.screenshot? %></td>
			<td class="text-center"><%= link_to "Show", {controller: "bugs", action: "show", id: bug.id}, class: 'btn btn-xs btn-primary' %></td>
		</tr>
	<% end %>
</table>
<br><br>
<div class = "text-center">
<%= link_to "Back", project_path(@project), class: 'btn btn-lg btn-primary'%></div>