<hr>
<h1 class="text-center">Bug Info</h1>
<hr>
<div><strong>Bug Title:- </strong><%= @bug.title %></div>


<% Bug.find_bug_creator(@bug).each do |creator| %>
	<h5><strong>Bug_Creator_name:- </strong><%= creator.name %></h5>	
<% end -%>





<% if @bug.developer_id.nil? %>
	<span><strong>No developer assigned</strong></span><br>	
	<%= link_to "Assign me as developer", action: "assign_developer", id: @bug%>
<% else %>
	<% Bug.find_bug_developer(@bug).each do |developer| %>
		<div><strong>Developer Assigned:- </strong><%= developer.name %></div>
	<% end 	%>

<% end %>
<br>

 <span><strong>Deadline:</strong></span>
 <span><%= @bug.deadline.to_date.strftime("%d-%m-%Y") %></span>
 <br>


<h2 class="text-center">Bug ScreenShoot</h2>

<%= image_tag(@bug.screenshot.url, alt: 'Image', :size => "740x640", class: "img-responsive center-block") if @bug.screenshot? %>
	
<br><br>
<%= link_to "Edit", edit_project_bug_path, class: "btn btn-primary" %>  
<%= link_to "Destroy", project_bug_path(@project,@bug), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-danger'%>
<%= link_to "Back", project_bugs_path, class: "btn btn-primary"%>

