@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "font-awesome";
@import "projects.scss";
@import "bugs.scss"
/*
.brand-logo {
  height: 53px;
}

#notice {
  color: green;
  background-color: yellow;
}

.table-info {
  background-color: #0184a069 !important;
}*/	