// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "font-awesome";

.table, .th, .td {
	border: 1px solid #000;
}

.table {
	border-collapse: collapse;
	width: 60%;
	margin: 0 auto;
}

.th, .td {
		text-align: center;
}

.screenshot {
		display: block;
		width: 150px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
}

